@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&display=swap');

// // post text will need to be adjusted responsive 
// .post-text {
//     background-color: grey;
//     height: 10em;
//     width: 50em
// }

textarea {
    height: 10em;
    width: 50em;
    display: block;
    border: 10;
    padding: 50;
    resize: none
}

h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    display: inline
}

.login {
    margin: auto
}

#sign-up, #sign-in {
    margin: auto;
    text-align: center
}
#sign-out {
    position: absolute;
    right: 0;
    display: none
}

.after-sign-in {
    display: none
}


body { 
    margin: auto
}

.border {
    border: 3px solid $black;
    margin: 20px;
    padding: 20px;
}
#user-display {
    margin: 20px;
    padding: 20px;
}

#top-bar {
    display: inline-block;
    background-color: rgb(37, 122, 238);
    width: 100%;
    position: relative

}